# Ignore
inputs/
model/
pe-venv/
pose_estimation/
FastPose.jit
libdarknet.so
result.json
classification/data/
classification/weight/

# Except
!pose_estimation/pose_estimator.py
!pose_estimation/simple_transform.py


